extends layout

block content
  #backHome  
    a#btnGoHomeAlerts.btn.btn-primary.btn-sm(href='/' role='button') Back Home
    h1=`Alerts for ${state}`
  hr
  each alert in alerts
    button.collapsible(type='button') #[strong= `${alert.headline}`]
    .content
      p
        | #[strong= `${alert.areaDesc}`]
      p
        | #[strong= `${alert.headline}`]
      p
        =`${alert.description}`
      p  
        =`${alert.instruction}`


      