extends layout

block content
  .jumbotron.jumbotron-fluid
    h1.display-4 Simply Weather
    p.lead
      | Get easy to read weather and alerts!
    hr.my-4
    p
      | Choose from our favorite places or enter your own custom place:
    #cityGroupings
      a#btnTewksburyWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Tewksbury' 
        role='button' style=`background-color:` + `${citymap.Tewksbury.color}`)=citymap.Tewksbury.name
      a#btnBostonWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Boston' 
        role='button' style=`background-color:` + `${citymap.Boston.color}`)=citymap.Boston.name
      a#btnHyannisWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Hyannis' 
        role='button' style=`background-color:` + `${citymap.Hyannis.color}`)=citymap.Hyannis.name
      a#btnOrlandoWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Orlando' 
        role='button' style=`background-color:` + `${citymap.Orlando.color}`)=citymap.Orlando.name
      a#btnMiamiWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Miami' 
        role='button' style=`background-color:` + `${citymap.Miami.color}`)=citymap.Miami.name
      a#btnAustinWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Austin' 
        role='button' style=`background-color:` + `${citymap.Austin.color}`)=citymap.Austin.name
      a#btnJuneauWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Juneau' 
        role='button' style=`background-color:` + `${citymap.Juneau.color}`)=citymap.Juneau.name
      a#btnDenverWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=Denver' 
        role='button' style=`background-color:` + `${citymap.Denver.color}`)=citymap.Denver.name
      a#btnSanFranWeather.btn.btnWeather.raised(
        href='/weather?forecastUrl=none&city=San Francisco' 
        role='button' style=`background-color:` + `${citymap.San_Francisco.color}`)=citymap.San_Francisco.name     
      a#btnCustomWeather.btn.btn-success.btnWeather.raised(href='/custom' role='button') Custom Place
    #photoDisplay
      img(src='/assets/lightning.jpg' alt='Weather' width='725' height='500')

  
  
