extends layout

block content
  a#btnGoHome.btn.btn-primary.btn-sm(href='/' role='button') Back Home
  h1=`${city} Weather`
  hr
  .flex-container.tempbar
    div Colder
    div#lverycold(style=`background-color:` + `${colormap.very_cold}`) 32
    div#lcold(style=`background-color:` + `${colormap.cold}`) 
    div#lverycool(style=`background-color:` + `${colormap.very_cool}`) 
    div#cool(style=`background-color:` + `${colormap.cool}`) 
    div#warm(style=`background-color:` + `${colormap.warm}`) 
    div#verywarm(style=`background-color:` + `${colormap.very_warm}`) 
    div#hot(style=`background-color:` + `${colormap.hot}`) 
    div#veryhot(style=`background-color:` + `${colormap.very_hot}`) 
    div Hotter
  if forecasts.length
    table.listing-table.table-striped
      tr
        th Name
        th Forecast
        th Temperature
        th Wind Speed
        th Wind Direction
        th Precip
      each forecast in forecasts
        tr
          td(style=`background-color:` + `${forecast.nameColor}`)= forecast.name
          td= forecast.detailedForecast
          td(style=`background-color:` + `${forecast.tempColor}`)= forecast.temperature
          td= forecast.windSpeed
          td= forecast.windDirection
          if forecast.icon=="sun"
            td.precip
              span(style='font-size: 3em; color:yellow;')
                i.fas.fa-sun
          else if forecast.icon=="snow"
            td.precip
              span(style='font-size: 3em; color:white;')
                i.fas.fa-snowflake
          else if forecast.icon=="rain"
            td.precip
              span(style='font-size: 3em; color:gray;')
                i.fas.fa-cloud-rain
          else if forecast.icon=="clouds"
            td.precip
              span(style='font-size: 3em; color:gray;')
                i.fas.fa-cloud
          else
            td.precip

          

  else
    p No forecasts